body {
	-moz-user-select: none;
	cursor: default;
}

input[type=text] {
	cursor: text;
}

select[multiple] {
	min-width: 25em;
}

.outputImg_blank {
	display: inline-block;
	border: 2px dashed steelblue;
	border-radius: 3px;
	background-color: #d7d7d7;
	margin: 10px;
	vertical-align: top;
}

.aSrcImgSpan {
	display: inline-block;
	margin: 10px;
	vertical-align: top;
	position: relative;
	line-height: 1em;
}

.aSrcImgSpan::after {
	content: attr(data-img-size);
	color: #000;
	text-align: center;
	position: absolute;
	left:0;
	bottom:-1em;
	width: 100%;
	font-weight: bold;
}