body {
	-moz-user-select: none;
	cursor: default;
}

h1 {
	/*background: transparent url("chrome://icon-container-generator/content/icon.png") no-repeat scroll right center;*/
}

input[type=text] {
	cursor: text;
}

select[multiple] {
	min-width: 25em;
}

.outputImg_blank {
	display: inline-block;
	border: 2px dashed steelblue;
	border-radius: 3px;
	/*background-color: #d7d7d7;*/
	background: transparent url("chrome://icon-container-generator/content/resources/images/canvas_bg.png") repeat scroll top left;
}

.outputPreviewCanCont {
	display: inline-block;
	margin: 10px;
	padding: 0;
	vertical-align: top;
	position: relative;
	line-height: 1em;
}

.outputPreviewCanCont::after {
	content: attr(data-base-scale-word) attr(data-base-scale-from);
	bottom:-1em;
}

.outputPreviewCanCont::before {
	content: attr(data-badge-scale-word) attr(data-badge-scale-from);
	bottom:-2em;
}

.outputPreviewCanCont::before,
.outputPreviewCanCont::after {
	color: #000;
	left:0;
	text-align: center;
	position: absolute;
	width: 100%;
	font-weight: bold;
}

.outputPreviewCanCont[data-badge-scale-word="dn"]::before,
.outputPreviewCanCont[data-base-scale-word="dn"]::after {
	color: red;
}

.outputPreviewCanCont[data-badge-scale-word="up"]::before,
.outputPreviewCanCont[data-base-scale-word="up"]::after {
	color: orange;
}

.outputPreviewCanCont[data-badge-scale-word="=)"]::before,
.outputPreviewCanCont[data-base-scale-word="=)"]::after {
	color: green;
}

.aSrcImgSpan {
	display: inline-block;
	margin: 10px;
	vertical-align: top;
	position: relative;
	line-height: 1em;
}

.aSrcImgSpan::after {
	content: attr(data-img-size);
	color: #000;
	text-align: center;
	position: absolute;
	left:0;
	bottom:-1em;
	width: 100%;
	font-weight: bold;
}

.linux-icon-row {
	padding-bottom: 10px;
	white-space: nowrap;
}

.linux-icon-row > span {
	display: inline-block;
	white-space: normal;
	text-align: center;
	margin: 0 10px;
	position: relative;
}

.linux-icon-image > img {
	max-width: 150px;
}